@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Outfit:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

:root {
  --darkBlue: #49557e;
  --blue: #0247a3;
  --red: #fe0003;
}
/*
body {
  min-height: 100vh;
} */

a {
  text-decoration: none;
  color: inherit;
}

.home {
  width: 80%;
  margin: auto;
}

.copyright{
  margin-top: 60px;
  background-color: var(--darkBlue);
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
}

button{
  cursor: pointer;
}

.app-content{
  display: flex;
}